@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.active{
  
  
  border-bottom:3px solid black;
  padding-bottom: 4px;
  color: #6a704c;

  
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes gradientAnimationn {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.text-gradient {
  display: inline-block;
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  animation: gradientAnimationn 3s linear infinite;
}

/* Additional styles for your text */
.text-gradient {
  font-size: 75px;
  background-image: linear-gradient(45deg, #ff0000, #8aff8a); /* Change gradient colors here */
  /* Add other styles as needed */
}

@media (max-width: 640px) {
  .text-gradient {
      font-size: 35px;
    
      /* Adjust other styles for smaller screens */
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

